In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/01.csv")

In [7]:
df

   30
0  35
1  23

In [10]:
df.iloc[-1,0]

23

In [1]:
from datetime import datetime

In [7]:
now = datetime.now()
now.strftime("%Y-%m-%d %H:%M:%S")

'2023-03-27 14:37:01'

In [23]:
with open('data.txt', 'a') as f:
    f.write(datetime.now().strftime("%Y-%m-%d %H:%M:%S") + "\n")

In [20]:
f = open("data.txt")

In [21]:
f.writelines([])
f.close()